[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugins/start/plugins/start/nerdtree-git-plugin"]
	path = plugins/start/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "plugins/start/pear-tree"]
	path = plugins/start/pear-tree
	url = https://github.com/tmsvg/pear-tree.git
